<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
 
  <!--  
    missExamResource
    missExamGroupResource
 	missAccountResource
 	missAccountSeriesMapResource
 	missCandidateResource
 	missChoiceResource
 	missEvaluationTemplateResource
 	missExamTypeResource
 	missQuestionResource
 	missSeriesMapResource
 	missSeryResource
 	missSurveySendResource
 	missTemplateResource
 	missTestResource
 	missTestResultResource
 	missTodoResource 
 	-->
 	<!-- BreakDown -->
 	<bean id="pstBreakDownResource"
		class="th.co.imake.syndome.bpm.rest.resource.PstBreakDownResource"
		scope="prototype"> 
		<property name="pstCommonService" ref="pstCommonService"></property>
		<property name="pstBreakDownService" ref="pstBreakDownService"></property>  
		<property name="xstream" ref="xstream"></property>
	</bean>  
	
	<!-- Cost -->
	<bean id="pstCostResource"
		class="th.co.imake.syndome.bpm.rest.resource.PstCostResource"
		scope="prototype"> 
		<property name="pstCommonService" ref="pstCommonService"></property>
		<property name="pstCostService" ref="pstCostService"></property>  
		<property name="xstream" ref="xstream"></property>
	</bean>  

	<!-- RoadPump -->
	<bean id="pstRoadPumpResource" 
		class="th.co.imake.syndome.bpm.rest.resource.PstRoadPumpResource"
		scope="prototype"> 
		<property name="pstCommonService" ref="pstCommonService"></property>
		<property name="pstRoadPumpService" ref="pstRoadPumpService"></property>  
		<property name="xstream" ref="xstream"></property>
	</bean> 
	<bean id="pstRoadPumpStatusResource" 
		class="th.co.imake.syndome.bpm.rest.resource.PstRoadPumpStatusResource"
		scope="prototype"> 
		<property name="pstCommonService" ref="pstCommonService"></property>
		<property name="pstRoadPumpStatusService" ref="pstRoadPumpStatusService"></property>  
		<property name="xstream" ref="xstream"></property>
	</bean> 
	<bean id="pstRoadPumpTypeResource" 
		class="th.co.imake.syndome.bpm.rest.resource.PstRoadPumpTypeResource"
		scope="prototype"> 
		<property name="pstCommonService" ref="pstCommonService"></property>
		<property name="pstRoadPumpTypeService" ref="pstRoadPumpTypeService"></property>  
		<property name="xstream" ref="xstream"></property>
	</bean> 
	<bean id="pstRoadPumpDeactiveMappingResource" 
		class="th.co.imake.syndome.bpm.rest.resource.PstRoadPumpDeactiveMappingResource"
		scope="prototype"> 
		<property name="pstCommonService" ref="pstCommonService"></property>
		<property name="pstRoadPumpDeactiveMappingService" ref="pstRoadPumpDeactiveMappingService"></property>  
		<property name="xstream" ref="xstream"></property>
	</bean>
	
	<!-- Employee -->
	<bean id="pstEmployeeResource" 
		class="th.co.imake.syndome.bpm.rest.resource.PstEmployeeResource"
		scope="prototype"> 
		<property name="pstCommonService" ref="pstCommonService"></property>
		<property name="pstEmployeeService" ref="pstEmployeeService"></property>  
		<property name="xstream" ref="xstream"></property>
	</bean>
	<bean id="pstEmployeeStatusResource" 
		class="th.co.imake.syndome.bpm.rest.resource.PstEmployeeStatusResource"
		scope="prototype"> 
		<property name="pstCommonService" ref="pstCommonService"></property>
		<property name="pstEmployeeStatusService" ref="pstEmployeeStatusService"></property>  
		<property name="xstream" ref="xstream"></property>
		<property name="jsonXstream" ref="jsonXstream"></property>
	</bean>
	<bean id="pstEmployeeWorkMappingResource" 
		class="th.co.imake.syndome.bpm.rest.resource.PstEmployeeWorkMappingResource"
		scope="prototype"> 
		<property name="pstCommonService" ref="pstCommonService"></property>
		<property name="pstEmployeeWorkMappingService" ref="pstEmployeeWorkMappingService"></property>  
		<property name="xstream" ref="xstream"></property>
	</bean>
	
	<bean id="pstPositionResource" 
		class="th.co.imake.syndome.bpm.rest.resource.PstPositionResource"
		scope="prototype"> 
		<property name="pstCommonService" ref="pstCommonService"></property>
		<property name="pstPositionService" ref="pstPositionService"></property>  
		<property name="xstream" ref="xstream"></property>
	</bean>
	<bean id="pstCustomerResource"
		class="th.co.imake.syndome.bpm.rest.resource.PstCustomerResource"
		scope="prototype"> 
		<property name="pstCommonService" ref="pstCommonService"></property>
		<property name="pstCustomerService" ref="pstCustomerService"></property>  
		<property name="xstream" ref="xstream"></property>
	</bean>
	<bean id="pstCustomerContactResource" 
		class="th.co.imake.syndome.bpm.rest.resource.PstCustomerContactResource"
		scope="prototype"> 
		<property name="pstCommonService" ref="pstCommonService"></property>
		<property name="pstCustomerContactService" ref="pstCustomerContactService"></property>  
		<property name="xstream" ref="xstream"></property>
	</bean>
	<bean id="pstCustomerDivisionResource" 
		class="th.co.imake.syndome.bpm.rest.resource.PstCustomerDivisionResource"
		scope="prototype"> 
		<property name="pstCommonService" ref="pstCommonService"></property>
		<property name="pstCustomerDivisionService" ref="pstCustomerDivisionService"></property>  
		<property name="xstream" ref="xstream"></property>
	</bean>
	<bean id="pstModelResource" 
		class="th.co.imake.syndome.bpm.rest.resource.PstModelResource"
		scope="prototype"> 
		<property name="pstCommonService" ref="pstCommonService"></property>
		<property name="pstModelService" ref="pstModelService"></property>  
		<property name="xstream" ref="xstream"></property>
	</bean>
	<bean id="pstBrandResource" 
		class="th.co.imake.syndome.bpm.rest.resource.PstBrandResource"
		scope="prototype"> 
		<property name="pstCommonService" ref="pstCommonService"></property>
		<property name="pstBrandService" ref="pstBrandService"></property>  
		<property name="xstream" ref="xstream"></property>
	</bean>
	 <bean id="userResource" 
		class="th.co.imake.syndome.bpm.rest.resource.UserResource"
		scope="prototype"> 
		<property name="pstCommonService" ref="pstCommonService"></property>
		<property name="userService" ref="userService"></property>  
		<property name="xstream" ref="xstream"></property>
	</bean>
	<bean id="pstDepartmentResource" 
		class="th.co.imake.syndome.bpm.rest.resource.PstDepartmentResource"
		scope="prototype"> 
		<property name="pstCommonService" ref="pstCommonService"></property>
		<property name="pstDepartmentService" ref="pstDepartmentService"></property>  
		<property name="xstream" ref="xstream"></property>
	</bean>
	<bean id="pstWorkTypeResource" 
		class="th.co.imake.syndome.bpm.rest.resource.PstWorkTypeResource"
		scope="prototype"> 
		<property name="pstCommonService" ref="pstCommonService"></property>
		<property name="pstWorkTypeService" ref="pstWorkTypeService"></property>  
		<property name="xstream" ref="xstream"></property>
	</bean>
	 
	<bean id="pstTitleResource" 
		class="th.co.imake.syndome.bpm.rest.resource.PstTitleResource"
		scope="prototype"> 
		<property name="pstCommonService" ref="pstCommonService"></property>
		<property name="pstTitleService" ref="pstTitleService"></property>  
		<property name="xstream" ref="xstream"></property>
	</bean>
	
	<bean id="pstConcreteResource" 
		class="th.co.imake.syndome.bpm.rest.resource.PstConcreteResource"
		scope="prototype"> 
		<property name="pstCommonService" ref="pstCommonService"></property>
		<property name="pstConcreteService" ref="pstConcreteService"></property>  
		<property name="xstream" ref="xstream"></property>
	</bean>
	
	<bean id="pstJobResource" 
		class="th.co.imake.syndome.bpm.rest.resource.PstJobResource"
		scope="prototype"> 
		<property name="pstCommonService" ref="pstCommonService"></property>
		<property name="pstJobService" ref="pstJobService"></property>  
		<property name="xstream" ref="xstream"></property>
	</bean>
	 
	<bean id="pstJobWorkResource" 
		class="th.co.imake.syndome.bpm.rest.resource.PstJobWorkResource"
		scope="prototype"> 
		<property name="pstCommonService" ref="pstCommonService"></property>
		<property name="pstJobWorkService" ref="pstJobWorkService"></property>  
		<property name="xstream" ref="xstream"></property>
	</bean>
	<bean id="pstJobEmployeeResource" 
		class="th.co.imake.syndome.bpm.rest.resource.PstJobEmployeeResource"
		scope="prototype"> 
		<property name="pstCommonService" ref="pstCommonService"></property>
		<property name="pstJobEmployeeService" ref="pstJobEmployeeService"></property>  
		<property name="xstream" ref="xstream"></property> 
	</bean>
	<bean id="pstJobPayResource" 
		class="th.co.imake.syndome.bpm.rest.resource.PstJobPayResource"
		scope="prototype"> 
		<property name="pstCommonService" ref="pstCommonService"></property>
		<property name="pstJobPayService" ref="pstJobPayService"></property>  
		<property name="xstream" ref="xstream"></property>
	</bean>
	<bean id="pstJobPayExtResource" 
		class="th.co.imake.syndome.bpm.rest.resource.PstJobPayExtResource"
		scope="prototype"> 
		<property name="pstCommonService" ref="pstCommonService"></property>
		<property name="pstJobPayExtService" ref="pstJobPayExtService"></property>  
		<property name="xstream" ref="xstream"></property>
	</bean>
	<bean id="pstObjectResource" 
		class="th.co.imake.syndome.bpm.rest.resource.PstObjectResource"
		scope="prototype">  
		<property name="pstObjectService" ref="pstObjectService"></property>  
		<property name="xstream" ref="xstream"></property>
	</bean>
	
</beans>