<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
 
  <!--  
    missExamResource
    missExamGroupResource
 	missAccountResource
 	missAccountSeriesMapResource
 	missCandidateResource
 	missChoiceResource
 	missEvaluationTemplateResource
 	missExamTypeResource
 	missQuestionResource
 	missSeriesMapResource
 	missSeryResource
 	missSurveySendResource
 	missTemplateResource
 	missTestResource
 	missTestResultResource
 	missTodoResource 
 	-->
 	<!-- BreakDown -->
 
	 <bean id="userResource" 
		class="th.co.imake.syndome.bpm.rest.resource.UserResource"
		scope="prototype"> 
		<property name="pstCommonService" ref="pstCommonService"></property>
		<property name="userService" ref="userService"></property>  
		<property name="xstream" ref="xstream"></property>
	</bean>
	
	
	<bean id="pstObjectResource" 
		class="th.co.imake.syndome.bpm.rest.resource.PstObjectResource"
		scope="prototype">  
		<property name="pstObjectService" ref="pstObjectService"></property>  
		<property name="xstream" ref="xstream"></property>
	</bean>
	<bean id="bpmCallCenterResource" 
		class="th.co.imake.syndome.bpm.rest.resource.BpmCallCenterResource"
		scope="prototype">  
		<property name="bpmCallCenterService" ref="bpmCallCenterService"></property>  
		<property name="xstream" ref="xstream"></property>
		<property name="jsonXstream" ref="jsonXstream"></property>
	</bean>
	
</beans>