<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
 
	<bean id="root" class="org.restlet.ext.spring.SpringRouter">
		<property name="attachments">
			<map>
				<!-- BreakDown -->
			    <entry key="/pstBreakDown">
					<bean class="org.restlet.ext.spring.SpringFinder">
						<lookup-method name="create"
							bean="pstBreakDownResource" />
					</bean>
				</entry>
				
				<!-- Cost -->
				<entry key="/pstCost">
					<bean class="org.restlet.ext.spring.SpringFinder">
						<lookup-method name="create"
							bean="pstCostResource" />
					</bean>
				</entry>
				
				 
				
				<!-- RoadPump -->
				<entry key="/pstRoadPump">
				 <bean class="org.restlet.ext.spring.SpringFinder">
						<lookup-method name="create"
							bean="pstRoadPumpResource" />
					</bean>
				</entry>
				<entry key="/pstRoadPumpStatus">
				 <bean class="org.restlet.ext.spring.SpringFinder">
						<lookup-method name="create"
							bean="pstRoadPumpStatusResource" />
					</bean>
				</entry>
				<entry key="/pstRoadPumpType">
				 <bean class="org.restlet.ext.spring.SpringFinder">
						<lookup-method name="create"
							bean="pstRoadPumpTypeResource" />
					</bean>
				</entry> 
				<entry key="/pstRoadPumpDeactiveMapping">
				 <bean class="org.restlet.ext.spring.SpringFinder">
						<lookup-method name="create"
							bean="pstRoadPumpDeactiveMappingResource" />
					</bean>
				</entry>
				
				<!-- Employee -->
				<entry key="/pstEmployee">
				 <bean class="org.restlet.ext.spring.SpringFinder">
						<lookup-method name="create"
							bean="pstEmployeeResource" />
					</bean>
				</entry>
				<entry key="/pstEmployeeStatus">
				 <bean class="org.restlet.ext.spring.SpringFinder">
						<lookup-method name="create"
							bean="pstEmployeeStatusResource" />
					</bean>
				</entry>
				<entry key="/pstEmployeeWorkMapping">
				 <bean class="org.restlet.ext.spring.SpringFinder">
						<lookup-method name="create"
							bean="pstEmployeeWorkMappingResource" />
					</bean>
				</entry>
				
				<entry key="/pstPosition">
				 <bean class="org.restlet.ext.spring.SpringFinder">
						<lookup-method name="create"
							bean="pstPositionResource" />
					</bean>
				</entry>
				<entry key="/pstCustomer">
				 <bean class="org.restlet.ext.spring.SpringFinder">
						<lookup-method name="create"
							bean="pstCustomerResource" />
					</bean>
				</entry>
				<entry key="/pstCustomerContact">
				 <bean class="org.restlet.ext.spring.SpringFinder">
						<lookup-method name="create"
							bean="pstCustomerContactResource" />
					</bean>
				</entry>
				<entry key="/pstCustomerDivision">
				 <bean class="org.restlet.ext.spring.SpringFinder">
						<lookup-method name="create"
							bean="pstCustomerDivisionResource" />
					</bean>
				</entry>
				<entry key="/pstModel">
				 <bean class="org.restlet.ext.spring.SpringFinder">
						<lookup-method name="create"
							bean="pstModelResource" />
					</bean>
				</entry>
				<entry key="/pstBrand">
				 <bean class="org.restlet.ext.spring.SpringFinder">
						<lookup-method name="create"
							bean="pstBrandResource" />
					</bean>
				</entry>
				<entry key="/pstDepartment">
				 <bean class="org.restlet.ext.spring.SpringFinder">
						<lookup-method name="create"
							bean="pstDepartmentResource" />
					</bean>
				</entry>
				
				<entry key="/user">
				 <bean class="org.restlet.ext.spring.SpringFinder">
						<lookup-method name="create"
							bean="userResource" />
					</bean>
				</entry>
				<entry key="/pstWorkType">
				 <bean class="org.restlet.ext.spring.SpringFinder">
						<lookup-method name="create"
							bean="pstWorkTypeResource" />
					</bean>
				</entry>
				<entry key="/pstTitle">
				 <bean class="org.restlet.ext.spring.SpringFinder">
						<lookup-method name="create"
							bean="pstTitleResource" />
					</bean>
				</entry>
				
				<entry key="/pstConcrete">
				 <bean class="org.restlet.ext.spring.SpringFinder">
						<lookup-method name="create"
							bean="pstConcreteResource" />
					</bean>
				</entry>
				
				<entry key="/pstJob">
				 <bean class="org.restlet.ext.spring.SpringFinder">
						<lookup-method name="create"
							bean="pstJobResource" />
					</bean>
				</entry> 	 
				<entry key="/pstJobWork">
				 <bean class="org.restlet.ext.spring.SpringFinder">
						<lookup-method name="create"
							bean="pstJobWorkResource" />
					</bean>
				</entry>
				<entry key="/pstJobEmployee">
				 <bean class="org.restlet.ext.spring.SpringFinder">
						<lookup-method name="create"
							bean="pstJobEmployeeResource" />
					</bean>
				</entry>
				<entry key="/pstJobPay">
				 <bean class="org.restlet.ext.spring.SpringFinder">
						<lookup-method name="create"
							bean="pstJobPayResource" />
					</bean>
				</entry>
				<entry key="/pstJobPayExt">
				 <bean class="org.restlet.ext.spring.SpringFinder">
						<lookup-method name="create"
							bean="pstJobPayExtResource" />
					</bean>
				</entry>
				<entry key="/pstObject">
				 <bean class="org.restlet.ext.spring.SpringFinder">
						<lookup-method name="create"
							bean="pstObjectResource" />
					</bean>
				</entry>
			</map>
		</property>
		<!--<property name="routes[2].template.variables[URI]">
			<bean class="org.restlet.util.Variable">
				<constructor-arg
					ref="org.restlet.util.Variable.TYPE_URI_ALL" />
			</bean>
		</property>
	--></bean>

	<bean id="org.restlet.routing.Variable.TYPE_URI_ALL"
		class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean" />
 
</beans>
